.buttonUp {
    /*background: rgba(54, 34, 34, .2);*/
    /*border-color: #c40e30;*/
    border-radius: 100%;
    border-width: 0;
    height: 60px;
    width: 60px;
    background: no-repeat;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    position: fixed;
    z-index: 999;
}

.buttonUp:focus {
    outline: none;
}