.changePassDiv {
    background: #ffffff no-repeat;
    cursor: pointer;
    position: fixed;
    width: 500px;
    height: 300px;
    top: 50%;
    left: 50%;
    z-index: 9999;
    margin: -150px 0 0 -250px;
    border: #035497 2px solid;
}

.changePassForm {
    /*position: absolute;*/
    /*margin: auto;*/
    margin-top: 40px;

    /*top: 50%;*/
}

.changePassText {
    color: #035497;
    font: small-caps bold 24px/1 sans-serif;
}

.buttonClose {
    border: none;
    position: absolute;
    right: 5px;
    top: 5px;
}

.buttonClose:focus {
    outline: none;
}

.incorrectPass {
    color: red;
}