.Table-header {
    background-color: rgba(146, 255, 148, 0.57);
    color: #000000;
    padding: 10px;
    text-align: left;
}

.auth {
    margin-top: 20%;
}

.GeorgeMichael-Row {
    background-color: plum;
}

.Other-Row {
    background-color: greenyellow;
}