.Table-header {
    font-family: 'Impact', 'fantasy';
    font-size: 20px;
    background-color: rgb(3, 85, 150);
    /*background-color: rgba(146, 255, 148, 0.57);*/
    color: #ffffff;
    padding: 10px;
    text-align: left;
}

.auth {
    margin-top: 15%;
}

/*.fixed-header {*/
th {
    /*background-color: rgba(146, 255, 148, 1);*/
    background-color: rgb(65, 128, 177);
    color: #ffffff;

    /*border: 2px solid yellowgreen !important;*/
    /*margin-bottom: 75px !important;*/

    position: sticky;
    top: 0;
    /*border: 10px solid black; !* Параметры рамки *!*/
}

.thead {
    /*border: 2px solid yellowgreen !important;*/

}

.tbody {

}

.dropdown-toggle {
    color: black;
    /*background-color: #007bff !important;*/
}

#pageDropDown, #pageDropDown:hover, #pageDropDown:active {
    color: black;
    /*background-color: rgba(146, 255, 148, 1);*/
    background-color: rgb(101, 149, 187);
    box-shadow: none;
    background-position: 0;
    /*margin-bottom: 20px*/
    /*background-color: #007bff !important;*/
}

.context_menu {

    z-index: 1000;
    border-color: #000000;
    /*color: white;*/
    /*font-weight: 500;*/
    /*border-radius: 5px;*/
    background-color: rgb(65, 128, 177);;
    border-width: 2px;
    padding: 3px;
}

.input {
    border: 3px solid #035594;
    background-color: rgb(195, 210, 227);
}

.inputFont {
    font-family: 'Impact', 'fantasy';
    font-size: 20px;
}

.button7 {

    display: block;
    background: #e0e0e0;
    /*background: rgb(255, 255, 255);*/
    color: #035594;
    /*border-color: rgb(217, 13, 22);*/
    border: #035594 2px solid;
    /*color: white;*/
    font-weight: 500;
    text-decoration: none;
    user-select: none;
    padding: 4px 6px;
    outline: none;
    /*border-width: 2px;*/
    /*border-radius: 300px;*/
    transition: 0.2s;
}

.button7:hover { border: #ffffff 2px solid; background: #c4c4c4; color: rgb(255, 255, 255)
}

.table-horiz-scroll {
    background-color: white;
    height: 700px;
    width: 100%;
    /*align: center;*/
    overflow-x: auto;
    overflow-y: auto;
    margin-bottom: 15px;
    /*border-style:none none dotted;*/
    border-collapse: collapse;
    border: none;
}

.react-bootstrap-table-pagination-total {
    margin-left: 15px;
}

.messageStyle {
    color: #5e5e5e;
    font-weight: 500;
}

.TableComp {
    width: 100%;
}