

#mainDiv {
    width: 99%;
    padding: 5px 20px 5px 20px;
}

.buttonUp {
    /*background: rgba(54, 34, 34, .2);*/
    /*border-color: #c40e30;*/
    border-radius: 100%;
    border-width: 0;
    height: 60px;
    width: 60px;
    background:url('up3.png') no-repeat;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    /*display: none;*/
    position: fixed;
    z-index: 999;
}
/*.mapComp {*/
/*    width: 85vw;*/
/*    height: 65vh;*/
/*}*/
